
/* src/Navbar.css */

/* General styles for the navbar */
.navbar {
  
    background-color: #333; /* Dark background color */
    display: flex;
    justify-content: space-between; /* Spread out the logo and navbar links */
    align-items: center; /* Center the items vertically */
    padding: 10px 20px;
    width: 100%;
    
     /* Add some space inside the navbar */
  }
  
  /* Styling for the logo */
  .App-logo img {
    height: 40px; /* Set the height of the logo */
  }
  
  /* Styling for the navbar links container */
  .navbar-links {
    display: flex; /* Use flex to arrange the links horizontally */
    justify-content: flex-end; /* Align items to the right */
    flex-grow: 1; /* Allow this div to grow and push items to the right */
  }
  
  .navbar-links ul {
    display: flex; /* Display list items in a row */
    list-style-type: none; /* Remove default bullet points */
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin-left: 20px; /* Add space between the navbar items */
  }
  
  .navbar-links a {
    color: white; /* White text color */
    text-decoration: none; /* Remove underline */
    font-size: 18px; /* Set font size */
    padding: 10px; /* Add some padding around the links */
    transition: color 0.3s ease; /* Smooth transition effect on hover */
  }
  
  .navbar-links a:hover {
    color: #61dafb; /* Change link color to light blue on hover */
  }
  
  
  